<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="loggly" type="Loggly.Config.LogglyAppConfig, Loggly.Config"/>
  </configSections>
  <loggly 
  xmlns="Loggly" 
  applicationName="ExcludeFieldsSerilog" 
  customerToken="CUSTOMER_TOKEN" 
  isEnabled="true"
  throwExceptions="true">

  <transport logTransport="Https" endpointHostname="logs-01.loggly.com" endpointPort="443"/>

  <!--<search account="your_loggly_account" username="a_loggly_username" password="myLittleP0ny!"/>-->

  <tags>
    <simple>
      <tag value="Serilog-FieldExclude"/>
    </simple>
    <!--<complex>
      <tag type="Loggly.HostnameTag" formatter="host-{0}"/>
      <tag type="Loggly.ApplicationNameTag" formatter="application-{0}"/>
      <tag type="Loggly.OperatingSystemVersionTag" formatter="os-{0}"/>
      <tag type="Loggly.OperatingSystemPlatformTag" formatter="platform-{0}"/>
    </complex>-->
  </tags>
</loggly>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>